.patches-navbar-container{
    height: 80px;
    padding: 0rem 24px;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 0px 10px #F5F5F5;
    .MuiGrid-container{
        display: flex;
        align-items: center;
    }
    .nav-time{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span{
            font-size: 16px;
            color: #00000099;
        }
    }
    .nav-user{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .user{
            padding: 0px 0px 0px 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p{
                font-size: 16px;
                margin: 10px 0px;
                color: #000000;
                font-weight: 600;
            }
            span{
                font-size: 14px;
                color: #00000061;
            }
            .username{
                display: flex;
                align-items: center;
            }
            .profile-arrow{
                width: 24px;
                height: 24px;
                margin-left: 22px;
            }
        }
        .MuiButtonBase-root:hover {
            background: none !important;
        }
    }
    .breadcrumb-link-container{
        text-decoration: none;
    }
    .breadcrumb-link{
        color: #00000090;
        text-decoration: none;
        transition: all .3s;
        font-size: 16px;
        &:hover{
        color: #000000;
        }
    }
}